<div style="margin-top: 2%;">
  <div class="text-center">
    <h4 ng-if="!dm.update">THÊM MỚI DANH MỤC TIN TỨC</h4>
    <h4 ng-if="dm.update">CẬP NHẬT DANH MỤC TIN TỨC</h4>
  </div>
  <div class="text-center" ng-if="dm.loading">
    <i style="color:red;" class="fa fa-spin fa-pulse fa-spinner fa-2x"></i>
  </div>
  <form class="col-md-8 col-md-offset-2">
    <div class="form-group">
      <label>Tên nhóm tin tức</label>
      <input type="text" class="form-control" placeholder="Nhập tên nhóm tin tức" ng-model="nhom.TEN_NHOM">
    </div>
    <div class="form-group">
      <label>Thứ tự</label>
      <input type="number" class="form-control" placeholder="Nhập thứ tự hiển thị" ng-model="nhom.THU_TU">
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" ng-model="nhom.hien_thi"> Hiển thị
      </label>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-success" ng-click="themNhom(nhom)" ng-disabled="dm.loading" ng-if="!dm.update">Thêm mới</button>
      <button type="submit" class="btn btn-success" ng-click="suaNhom(nhom)" ng-disabled="dm.loading" ng-if="dm.update">Cập nhật</button>
    </div>
  </form>
</div>
