<nav class="navbar navbar-default">
  <div class="row-container">
    <div class="col-md-2 col-md-offset-1 text-center">
      <div id="img-new" ng-click="goHome()"></div>
    </div>
    <div class="col-md-5 btn-group" style="padding-top: 0.5%;">
      <input type="text" name="search" class="form-control" style="width: 80%;float: left;" placeholder="Nhập nội dung tìm kiếm ...">
      <button class="btn btn-warning">Tìm kiếm</button>
    </div>
    <div class="col-md-3 text-center" id="news-date">
      <strong ng-bind="thu"></strong>
      <span>Ngày</span>
      <span ng-bind="ngay"></span>
      <span id="main-user" uib-dropdown is-open="isopen">
        <i class="glyphicon glyphicon-user" title="Đăng nhập" ng-if="!user" uib-dropdown-toggle></i>
        <img ng-if="user" ng-src="{{user.anh}}" uib-dropdown-toggle height="50px" width="50px"  style="border: 1px solid;"/>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-if="user"><a><i class="fa fa-picture-o"></i> Ảnh đại diện</a></li>
          <li role="menuitem" ng-if="user"><a><i class="fa fa-id-card-o"></i> Thông tin</a></li>
          <li role="menuitem" ng-if="user"><a><i class="fa fa-key"></i> Mật khẩu</a></li>
          <li role="menuitem" ng-if="!user" ng-click="login()"><a><i class=""></i> Đăng nhập</a></li>
          <li role="menuitem" ng-if="!user"><a><i class=""></i> Đăng ký</a></li>
          <li class="divider"></li>
          <li role="menuitem" ng-click="logout()" ng-if="user"><a><i class="glyphicon glyphicon-log-out"></i> Đăng xuất</a></li>
        </ul>
      </span>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-1">
    <!-- banner Left -->
  </div>
  <div class="col-md-10">
    <div id="line-bar">
    </div>
    <ul class="nav nav-pills" id="bar-chude">
      <li role="presentation" ng-repeat="dm in showDanhMuc">
        <a ng-bind="dm.TEN_NHOM"></a>
      </li>
      <li role="presentation" uib-dropdown is-open="openDm" uib-dropdown-toggle><a>Khác</a>
        <ul class="dropdown-menu ul-cus" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="dm in hideDanhMuc">
            <a ng-bind="dm.TEN_NHOM"></a>
          </li>
        </ul>
      </li>
    </ul>
    <div clas="row">
      <div class="col-md-12">
        <div class="col-md-9">
          <b style="color: orange">TIN TỨC MỚI  </b>
        </div>
        <div class="col-md-3 text-center">ĐỌC NHIỀU NHẤT</div>
      </div>
      <div class="col-md-6 new-left" style="border: 1px solid #ededed;">
        <div class="col-md-12" style="border-bottom: 1px solid #ededed;">
          <img width="100%" height="300" ng-src="{{data[0].ANH_TD}}" style="margin-top: 1%;">
          <h4>
            <b ng-bind="data[0].TIEU_DE"></b>
          </h4>
          <div ng-bind="data[0].NOI_DUNG_TT"></div>
        </div>
        <div class="col-md-12" style="margin-top: 1%;">
          <div class="col-md-6 text-center">
            <img width="100%" height="150" ng-src="{{data[1].ANH_TD}}">
            <h5 class="text-left">
              <b ng-bind="data[1].TIEU_DE"></b>
            </h5>
          </div>
          <div class="col-md-6 text-center">
            <img width="100%" height="150" ng-src="{{data[2].ANH_TD}}">
            <h5 class="text-left">
              <b ng-bind="data[2].TIEU_DE"></b>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 new-left new-left-over" style="border: 1px solid #ededed;">
        <div ng-repeat="tin in data" ng-if="$index > 2">
          <img width="100%" height="150" ng-src="{{tin.ANH_TD}}" ng-if="$index < 4" style="margin-top: 2%;">
          <div><b ng-bind="tin.TIEU_DE"></b></div>
          <hr class="hr-cus" />
        </div>
      </div>
      <div class="col-md-3 new-left" style="border: 1px solid #ededed;">
      </div>
      <span>
        <div style="height: 1px; background: green; margin-top: 1%;" class="col-md-12"></div>
        <div class="col-md-12" style="border-bottom: 1px solid #ededed; margin-top: 1%; margin-bottom: 1%;">
          <b style="color: blue;">
            Thế giới
          </b>
        </div>
        <div class="col-md-12">
          <div class="col-md-4">
            <label ng-bind="data[0].TIEU_DE"></label>
              <div style="width: 50%; float: left;">
                <img ng-src="{{data[0].ANH_TD}}" height="120" width="140">
              </div>
            <div style="width: 49%; float: right;"" ng-bind="data[0].NOI_DUNG_TT"></div>
          </div>
          <div class="col-md-4">
            <label ng-bind="data[0].TIEU_DE"></label>
              <div style="width: 50%; float: left;">
                <img ng-src="{{data[0].ANH_TD}}" height="120" width="140">
              </div>
            <div style="width: 49%; float: right;"" ng-bind="data[0].NOI_DUNG_TT"></div>
          </div>
          <div class="col-md-4">
            <div ng-repeat="tin in data" ng-if="$index < 4" style="padding-bottom: 2%;">
              <b ng-bind="tin.TIEU_DE"></b>
            </div>
          </div>
        </div>
      </span>
    </div>
    <div class="row" id="ui-view">
      <ui-view></ui-view>
    </div>
  </div>
  <div class="col-md-1">
    <!-- banner right -->
  </div>
</div>
