<div id="admin">
  <div class="col-md-12" id="admin-header">
    <div class="col-md-2 text-center">
      <div class="ql-title">
        <b>TIN TỨC MỚI</b>
      </div>
    </div>
    <div class="col-md-10 text-right">
      <div class="ql-title-right">
        <span>
          <i class="glyphicon glyphicon-home"></i>
          <b>Trang chủ</b>
        </span>
        <span>
          <b>Admin</b>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-2" id="admin-left">
      <ul>Tin tức
        <li>Tạo mới</li>
        <li>Danh sách bài viết</li>
      </ul>
      <ul>Thông tin cá nhân</ul>
      <ul>Quản lí tài khoản</ul>
      <ul>Quản lí nhóm </ul>
    </div>
    <div class="col-md-10" id="admin-right">
      <div>
      </div>
    </div>
  </div>
</div>
