<div class="col-md-12" style="margin-top: 2%;">
  <div class="text-center">
    <h4>DANH SÁCH TIN TỨC</h4>
  </div>
  <div style="margin-top: 2%; margin-bottom: 2%;" class="col-md-12">
    <div class="col-md-3">
      <select class="form-control" ng-model="nhom">
        <option value selected>Chọn danh mục</option>
        <option ng-repeat="nhom in nhoms" value="{{nhom.ID}}">{{nhom.TEN_NHOM}}</option>
      </select>
    </div>
    <div class="col-md-3" ng-show="activeFull">
      <select class="form-control" ng-model="tacgia">
        <option value selected> Chọn tác giả</option>
        <option ng-repeat="tg in nguois" value="{{tg.ID}}">{{tg.TEN_DANG_NHAP}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-warning" ng-click="searchDS()"><i class="glyphicon glyphicon-search"></i></button>
    </div>
  </div>
  <table class="table table-bordered" ng-if="dataDs.length > 0">
    <thead>
      <tr>
        <th class="text-center">Tiêu đề</th>
        <th class="text-center">Người đăng</th>
        <th class="text-center">Thời gian</th>
        <th class="text-center">Danh mục</th>
        <th class="text-center">Số lượt xem</th>
        <th class="text-center">Chức năng</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="data in dataDs">
        <td class="text-center">{{data.TIEU_DE}}</td>
        <td class="text-center">{{data.nguoi_dang}}</td>
        <td class="text-center">{{data.thoi_gian}}</td>
        <td class="text-center">{{data.danh_muc}}</td>
        <td class="text-center">{{data.SO_LAN_XEM}}</td>
        <td class="text-center">
          <button class="btn btn-success btn-sm" ng-click="editTT(data)">Sửa</button>
          <button class="btn btn-danger btn-sm" ng-click="xoaTT(data)">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right" ng-if="dataDs.length > 0">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a aria-label="Previous" ng-click="selectTrang(1)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li ng-if="trangSelect > 3"><a>...</a></li>
        <li ng-repeat="so in renderTrang()" ng-hide="so + 3 <= trangSelect || so - 4 >= trangSelect ">
          <a ng-bind="so" ng-click="selectTrang(so)" ng-style="{ 'background': trangSelect == so ? 'burlywood' : ''}"></a>
        </li>
        <li ng-if="trangSelect < soTrang - 3"><a>...</a></li>
        <li>
          <a aria-label="Next" ng-click="selectTrang(soTrang)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-12 alert alert-info" ng-if="dataDs.length == 0">
    <i>Không có bài viết cho tìm kiếm này</i>
  </div>
</div>
