<div class="col-md-8 col-md-offset-2" style="margin-top: 2%;">
  <div class="text-center">
    <h4>THÔNG TIN TÀI KHOẢN</h4>
  </div>
  <div class="col-md-12">
    <form name="user.formTK">
      <div class="form-group">
        <label>Tên đăng nhập</label>
        <input type="text" class="form-control" readonly="true" ng-model="tk.TEN_DANG_NHAP" required="true" minlength="5" maxlength="50">
      </div>
      <div class="form-group">
        <label>Mật khẩu cũ</label> (<span style="color: red;">*</span>)
        <input type="password" class="form-control" ng-model="tk.matkhau" placeholder="Nhập mật khẩu cũ" required>
      </div>
      <div class="form-group">
        <label>Mật khẩu mới</label> (<span style="color: red;">*</span>) <i ng-if="!tenError"> Tối thiểu 6 kí tự</i>
        <input type="password" class="form-control" ng-model="tk.matkhaumoi" placeholder="Nhập mật khẩu mới" required minlength="6" maxlength="50">
      </div>
      <div class="form-group">
        <label>Xác nhận mật khẩu</label>
        <input type="password" class="form-control" ng-style="{'border-color' : tk.matkhau != tk.matkhaumoi ? 'red' : ''}" ng-model="tk.matkhaumoi1" placeholder="Xác nhân mật khẩu" required minlength="6" maxlength="50">
      </div>
      <div class="text-right">
        <button class="btn btn-success" ng-click="luu(tk)" ng-disabled="user.formTK.$invalid || loading || tk.matkhaumoi != tk.matkhaumoi1 "><i class="glyphicon glyphicon-ok"></i>Lưu</button>
      </div>
    </form>
  </div>
</div>
