#img-new {
  background-image: url("../img/news.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  cursor: pointer;
  width: 70%;
}

#news-date {
  line-height: 45px;
  color: #774622;
  font-size: 14px;
}

#line-bar {
  height: 2px;
  background-color: green;
}

#bar-chude {
  background-color: aliceblue;
}

#main-user {
  font-size: large;
  padding-left: 10%;
  cursor: pointer;
}


/*LOGIN*/
.login-div {
  margin: 5%;
}
