/*INDEX*/

#ui-view {
  min-height: 600px;
  margin-left: 0px;
  margin-right: 0px;
}


/*QUAN LI*/

#admin {
  min-height: 400px;
}

#admin-header {
  height: 60px;
  color: #A5A4A4;
}

#admin-header .col-md-3 {
  background-color: #333333;
}

#admin-header .col-md-9 {
  background-color: #4E4E4E;
}

#admin-right {
  min-height: 550px;
  background-color: #F1F1F1;
}

#admin-left {
  min-height: 550px;
  background-color: #464646;
  color: #A5A4A4;
}

.ql-title {
  height: 60px;
  font-size: x-large;
  padding-top: 10px;
  color: green;
}

.ql-title-right {
  height: 60px;
  padding-top: 10px;
}

.admin-accor {
  margin-left: 2%;
}

.panel {
  background-color: #4E4E4E;
}

.item-accor {
  height: 30px;
  margin-left: 10%;
  cursor: pointer;
}

uib-accordion i {
  color: white;
}

.admin-left-control {
  cursor: pointer;
  padding-right: 2%;
}

#control-ad:hover {
  color: red;
}

.menu-cus {
  left: -90px;
  min-width: 0px;
}

.ttcn {
  margin-top: 1%;
}

.ttcn1 {
  margin-top: 15%;
}

.ul-cus {
  min-width: 0px;
}

.new-left {
  height: 630px;
}

.new-left-over {
  position: relative;
  overflow: hidden;
  height: 630px;
  max-width: 100%;
  outline: 0;
  direction: ltr;
}

.hr-cus {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tin-click {
  cursor: pointer;
  ;
}

#footer-cus {
  height: 60px;
  font-size: large;
  border-top: 1px;
  margin-top: 5%;
  border-style: dashed;
}
